/* body */
body{
margin: 0;
font-family: 'segoe UI', tahoma, Geneva, Verdana, sans-serif; 
background-color: white;
color: black;
}

/* header */
header {
    background-color: rgb(80, 77, 77);
    color: aliceblue;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/*nav bar styles*/
.navbar ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
}

.navbar li {
    margin: 15px;
}

.navbar a {
    text-decoration: none;
    color: aliceblue;
    font-size: 26px;
    transition: color 0.3s;
}

/*user styles*/
.user a {
    text-decoration: none;
    color: aliceblue;
    font-size: 26px;
    transition: color 0.3s;
}

user a :hover {
    color: aqua;
}

/*main conten styles*/
main {
    margin-top: 75px;
}

/*hero styles*/
.hero {
    background: linear-gradient(to right, #4b4c4d, #3a3f41, #121516);
    color: #fff;
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 68px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 28px;
    margin-top: 80px;
}

/*game styles*/
.game {
    padding: 40px 20px;
}

.game h2 {
    font-size: 62px;
    margin-bottom: 80px;
    margin-top: 10px;
    text-align: center;
    color: #fff;
}

.game-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.jenis-game {
    background-color: rgb(68, 73, 73);
    padding: 10px;
    border-radius: 8px;
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    color: #c6d4df;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 2);
    transition: transform 0.3s;
}

.jenis-game:hover {
    transform: translateY(-5px);
}

.jenis-game img {
    max-width: 100%;
    border-radius: 8px;
}

.jenis-game h3 {
    font-size: 24px;
    margin: 10px;
    color: #fff;
}
.jenis-game p {
    font-size: 16px;
   
}

footer {
    background-color: #121516;
    color: #c6d4df;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #c6d4df;
    font-size: 36px;
    font-weight: bold;
}